@charset "UTF-8";

/** ----------------------------------------------------------------------------
 *                                  COMMON
 * ----------------------------------------------------------------------------- */
//@import "../../../../vendor/bower/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss";
@import '../../../../_application/common/web/scss/variables';

html {
    //@include noise-background($white);
    background: $gray;
}
body {
    background: transparent;

    > pre {
        padding-top: 60px;
    }
}

// FIX -------------------------------------------------------------------------
// @see http://stackoverflow.com/questions/12007507/how-to-remove-dotted-border-around-link
a,
a:active,
a:visited,
a:link,
a:focus,
a:hover,
input[type="button"],
input[type="submit"],
button {
    outline: none;
}
// -----------------------------------------------------------------------------

a.scroll-to-top-link {
    @media ( min-width: $screen-sm ) {
        right: 100px;
    }
}

.spoiler-content {
    display: none;
}

.navbar {
    .lang-switcher {
        margin: 8px 0 0 20px;
        .btn {
            background: transparent;
        }
    }
    &.navbar-inverse {
        .lang-switcher {
            color: $navbar-inverse-brand-color;
            .btn {
                &:hover, &:focus, &.focus {
                    color: $white;
                }
            }
        }
    }
}

.chosen-container-single {
    .chosen-single {
        height: 33px;
        padding: 4px 0 4px 8px;
        div {
            top: 4px;
        }
    }
}

ul.trace {
    font-size: 12px;
    color: #999;
    margin: 2px 0 0 0;
    padding: 0;
    list-style: none;
    white-space: normal;
}
