################################################################################
#   @see http://httpd.apache.org/docs/2.2/mod/core.html#adddefaultcharset
################################################################################
AddDefaultCharset UTF-8

# Mod_Autoindex
<IfModule mod_autoindex.c>
    # Disable Indexes
    Options -Indexes
</IfModule>

# Mod_Rewrite
<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    # Enable mod_rewrite
    RewriteEngine On

    # hide files and folders
    RedirectMatch 404 /_protected
    RedirectMatch 404 /_application
    RedirectMatch 404 /\.git
    RedirectMatch 404 /\.hg
    RedirectMatch 404 /composer\.
    RedirectMatch 404 /.bowerrc

    # If a directory or a file exists, use the request directly
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    # Otherwise forward the request to index.php
    RewriteRule . index.php
</IfModule>
