@charset "UTF-8";
.translation-tabs {
    .nav-tabs {
        > li {
            > a {
                &:hover {
                    background-color: darken(#f2f2f2, 3%);
                }
            }
            // Active state, and its :hover to override normal :hover
            &.active > a {
                &,
                &:hover,
                &:focus {
                    background-color: transparent;
                    border-bottom-color: #f2f2f2;
                }
            }
        }
    }
}
tr {
    &.success .translation-tabs {
        .nav-tabs {
            > li {
                // Active state, and its :hover to override normal :hover
                &.active > a {
                    &,
                    &:hover,
                    &:focus {
                        border-bottom-color: #c3ffab;
                    }
                }
            }
        }
    }
    &.danger .translation-tabs {
        .nav-tabs {
            > li {
                // Active state, and its :hover to override normal :hover
                &.active > a {
                    &,
                    &:hover,
                    &:focus {
                        border-bottom-color: #ffdada;
                    }
                }
            }
        }
    }
}
.translation-textarea {
    min-height: 100px;
    max-height: 150px;
    margin-top: 5px;
}